<footer class="site-footer h-card" role="contentinfo">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper tk-footer">
    <div class="left">
      <strong>Twin Kites LLC</strong>
      <span class="sep">•</span>
      <a href="mailto:twinkites@proton.me">twinkites@proton.me</a>
    </div>
    <div class="right">
      <span> <p> &copy;{{ "now" | date: "%Y" }} Twin Kites LLC </p> </span>
      <span class="sep">•</span>
      <a href="{{ "/contact/" | relative_url }}">Contact</a>
    </div>
  </div>
</footer>
